#devel-execute-form #edit-code {
  height: 200px;
}

.bordered {
  font-size: 17px;
  background: #f5fcff;
  border: #4388ab solid 1px;
  color: #052535;
}

.bordered div {
  padding: 10px;
}

.bordered div:hover,
.selected-function {
  background: #e3f1f8;
  border: #adbac1 solid 1px;
  border-right: none;
  border-left: none;
  padding-top: 9px;
  padding-bottom: 9px;
}
